<div class="w-full bg-gray-800">
  <div class="max-w-screen-xl flex flex-wrap justify-between items-baseline py-5 pl-3 mx-auto">
    <div class="font-extrabold text-xl">
      <a class="text-white hover:border-none hover:text-blue-600" href="/">
        <%= site.site_name %>
      </a>
    </div>

    <nav>
      <ul class="flex items-center font-extrabold">
        <li class="mr-3">
          <a class="text-white hover:border-none hover:text-blue-600" href="/about/">About</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
